{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Registration complete' %}{% endblock %}

{% block content_header %}{% trans 'Registration complete' %}{% endblock %}

{% block content %}
<h1>{% trans 'You are now registered' %}</h1>

{% blocktrans %}
<p>An activation link has been sent to the email address you supplied, along with instructions for activating your account.</p>
<p>You won't be able to log in until you do this.</p>
<p>We've had some problems with emails being blocked as spam by some service providers- 
	Hotmail seems particularly bad. 
	If you don't receive an email, please <a href="/contact/">contact us</a>.</p>
{% endblocktrans %}


{% endblock %}