{% extends "wiki/base.html" %}
{% load markup tagging_tags ct_groups_tags comments %}
{% load i18n wiki %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block breadcrumbs %}
  <p><a href="/">{% trans 'Home' %}</a>  &gt;
  <a href="/groups">{% trans 'Groups' %}</a> &gt; 
  <a href="{{ article.group.get_absolute_url }}">{{ article.group.name }}</a></p>
{% endblock %}

{% block content %}

    <div class="ten columns alpha">
        <h1>{{ article.summary }}</h1>

        {# {% render_content article %} #}
        {{ article.content|textile }}

        <p>&nbsp;</p>
        {{ article|wiki_edit:user }}
        {{ article|wiki_delete:user }}        

    </div>
    <div class="five offset-by-one columns omega secondary">
        <div class="nav">
            <h2>{% trans 'Pages' %}</h2>
    
            {% wiki_pages for article as pages %}
            {% if pages %}
            <div class="menu-list">
                <ul class="disc">
                {% for page in pages %}
                    <li{% ifequal page article  %} class="current-item"{% endifequal %}><a href="{{ page.get_absolute_url }}">{{ page.summary }}</a></li>
                {% endfor %}
                </ul>
                {% else %}
                    <p>- {% trans 'None yet' %} -</p>
                {% endif %}
            </div>
            {{ article.group|wiki_new_page:user }}
        </div>        
    </div>


{% endblock %}

