{% extends "base.html" %}
{% load i18n markup %}

{% block title %}{% trans 'Topics' %}{% endblock %}

{% block body %}id="tags_nav"{% endblock %}

{% block content %}

    <h1>{% trans 'Topics' %}</h1>

    {# <p>Resources are 'tagged' with these keywords:</p> #}

    
    {% if object_list %}
      <ul>
        {% for object in object_list %}
            <li><a href="/tags/{{ object.name }}/">{{ object.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
        <p>{% trans 'No topics found' %}.</p>
    {% endif %}


{% endblock %}
