{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Account activation' %}{% endblock %}
{% block content_header %}{% trans 'Account activation' %}{% endblock %}
{% block content %}

    {% load humanize %}

    <h2>{% trans 'Sorry, account activation has not worked' %}</h2>
    {% blocktrans %}
    <p>It may be because:</p>
    <ul>
        <li>You have already used this link? If so, try <a href="/accounts/login/">logging in</a>.</li>
        <li>Your activation link was incorrect.</li>
        <li>The activation key for your account has expired. 
            Activation keys are only valid for 10 days after registration.</li>
    </ul>

    <p>Please <a href="/contact/">contact us</a> if you have a problem.</p>
	{% endblocktrans %}


{% endblock %}
