{% extends "base.html" %}
{%load forms i18n %}
{% block title %}{% trans 'Your details' %}{% endblock %}

{% block basket %}{% endblock %}

{% block content %}

<h1>{% trans 'Check your details' %}</h1>

    <form class="wide form" name="checkprofile" action="" method="post">{% csrf_token %}

        <fieldset>
            <legend><span>{% trans 'Your details' %}</span></legend>
            <ol>
            {% show_errors profile_form.non_field_errors %}
            {% for field in profile_form %}
                 {% show_field field "li" %}
            {% endfor %}
            </ol>
        </fieldset>

        <fieldset class="submit">
            <input type="submit" name="result" value="{% trans 'Save details' %}">&nbsp;&nbsp;
            <input type="submit" name="result" value="{% trans 'Cancel' %}">
        </fieldset>
        
    </form>

{% endblock %}
